<section *ngIf="curMovie">
	<smart-img
		#bg
		[dims]="{ w: '100vw', h: 'var(--preview-height)' }"
		[style.opacity]="+showImg"
		[src]="curMovie.backdrop"
		type="backdrop"
		(load)="imgLoaded.next(true)"
		[resolution]="3"
	/>

	<div class="gradient w-100"></div>
	<div id="title-container" class="column end w-100">
		<div class="title" [style.opacity]="+showText">
			<h1>{{ curMovie.title }}</h1>
			<div class="button-container row" *ngIf="showImg">
				<action-button [props]="playButton" [imgSrc]="curMovie.backdrop" />
				<action-button
					[props]="infoButton"
					[imgSrc]="curMovie.backdrop"
					[viewMovie]="curMovie.tmdb_id"
				/>
			</div>
		</div>
	</div>
</section>
<section *ngIf="!curMovie" class="center bg"></section>
