<section *ngIf="curMovie">
	<img
		#bg
		id="bg"
		[imgCache]="curMovie.backdrop | backdrop : 3"
		[style.opacity]="+showImg"
		priority
		(load)="loadFirst()"
	/>
	<div class="gradient w-100"></div>
	<div id="title-container" class="column end w-100">
		<div class="title" [style.opacity]="+showText">
			<ng-container></ng-container>
			<h1>{{ curMovie.title }}</h1>
			<div class="button-container row">
				<action-button
					[streamMovie]="curMovie"
					[props]="playButton"
					[htmlImg]="bg"
				></action-button>
				<!-- [viewMovie]="curMovie" -->
				<action-button [props]="infoButton" [htmlImg]="bg"></action-button>
			</div>
		</div>
	</div>
</section>
<section *ngIf="!curMovie" class="center bg"></section>
