section {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100vw;
  height: var(--preview-height);
}

img {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: var(--preview-height);
  object-position: center;
  transition: opacity 0.3s;
  opacity: 0;
  animation: fade-in 0.3s;
}

h1 {
  margin: 1rem 0;
}

.gradient {
  height: 25%;
  position: absolute;
  z-index: 0;
  top: calc(var(--preview-height) - 25%);
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);
}

#title-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--preview-height);
  padding-bottom: 10rem;
  background: linear-gradient(22.5deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 50%);

  .title {
    margin-left: calc(var(--ml) + 0.25rem);
    transition: opacity 0.4s;
  }

  .button-container {
    height: 2.75rem;
  }

  button {
    height: 2.75rem;
    border-radius: var(--radius-s);
    padding: 0.25rem 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px 2px;
    cursor: pointer;
    position: relative;
    color: black;
    background-color: white;
    margin-right: 0.75rem;
    width: 6.75rem;
    transition: filter 0.1s, background-color 0.1s;

    &:active {
      transform: scale(97%);
    }

    &:hover {
      // filter: brightness(0.7);
      filter: brightness(1.2) saturate(1.2);
      transform: scale(102%);
    }

    h4 {
      margin: 0.5rem;
      padding: 0;
      font-size: 1.2rem;
      font-weight: 500;
    }

    i {
      // color: black;
      font-size: 1rem;
      margin: 0.5rem 0 0.5rem 0.5rem;
    }
  }
}

// .bg {
//   animation: huh 1s infinite alternate;

//   @keyframes huh {
//     from {
//       background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgb(255, 0, 0) 100%);
//     }
//     to {
//       background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgb(251, 255, 0) 100%);
//     }
//   }
// }
