<form class="column" [formGroup]="registerForm" (ngSubmit)="register()">
	<h2>Create Account</h2>
	<cust-input
		[control]="firstName"
		placeholder="First Name"
		errorMsg="please enter your name"
	></cust-input>
	<cust-input
		[control]="lastName"
		placeholder="Last Name"
		errorMsg="please enter your last name"
	></cust-input>
	<cust-input
		[control]="email"
		placeholder="Email"
		errorMsg="please enter a valid email"
	></cust-input>
	<cust-input
		[control]="username"
		placeholder="Username"
		[errorMsg]="usernameErr"
	></cust-input>
	<cust-input
		[control]="password"
		placeholder="Password"
		[errorMsg]="passwordErr"
		type="password"
	></cust-input>
	<cust-input
		[control]="confirmPassword"
		placeholder="Confirm Password"
		errorMsg="passwords do not match"
		type="password"
	></cust-input>
	<button [disabled]="!registerForm.valid || pendingSubmit">Register</button>
</form>
