<h3 *ngIf="validContent()">{{ title | asTitle | titlecase }}</h3>
<div class="item-container" *ngIf="validContent()">
	<section class="row w-100" (window:resize)="translate()" #scroller>
		<div *ngFor="let movie of content">
			<smart-img
				[src]="movie.poster"
				[dims]="size()"
				[resolution]="3"
				[viewMovie]="movie.tmdb_id"
			></smart-img>
		</div>
	</section>
	<i
		*ngIf="canLeft"
		class="fas fa-chevron-left center h-100"
		(click)="translate(-1)"
	></i>
	<i
		*ngIf="canRight"
		class="fas fa-chevron-right center h-100"
		(click)="translate(1)"
	></i>
</div>
