.item-container {
	position: relative;
	opacity: 0;
	animation: fade-in 0.5s 0.5s ease-in-out forwards;
	overflow: hidden;

	&:hover i {
		opacity: 1;
	}
}

h3 {
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: white;
	font-weight: 600;
	opacity: 0;
	animation: fade-in 0.5s 0.5s ease-in-out forwards;
	margin: var(--ml) 0 var(--ms) calc(var(--ml) + 0.25rem);
}

section {
	transition: transform 0.5s;
	margin: 0 var(--ml);

	div {
		margin: 0 0.25rem;
	}
}

i {
	position: absolute;
	top: 0;
	font-size: 2rem;
	width: calc(var(--ml) - 0.25rem + 1px);
	transition:
		opacity 0.2s,
		background 0.1s;
	cursor: pointer;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;

	&:hover {
		background: rgba(0, 0, 0, 0.85);
	}

	&:active {
		color: gray;
	}
}

.fa-chevron-left {
	left: 0;
	border-radius: 0 var(--radius-s) var(--radius-s) 0;
}

.fa-chevron-right {
	right: 0;
	border-radius: var(--radius-s) 0 0 var(--radius-s);
}
