img {
	display: block;
	border: 0;
	outline: none;
	background-color: #303030;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;

	animation: load 0.5s infinite alternate;

	@keyframes load {
		from {
			background-color: #202020;
		}
		to {
			background-color: #303030;
		}
	}
}
