<span id="backdrop" class="container" (click)="modal.close()"></span>
<section>
	<div id="movieModal" class="mh-100">
		<div class="trailer w-100">
			<ng-container *ngIf="content">
				<yt-player
					*ngIf="content.yt_trailer"
					id="trailer"
					[url]="content.yt_trailer"
				></yt-player>
				<smart-img
					*ngIf="!content.yt_trailer"
					[dims]="{
						w: '100%',
						h: 'calc(0.5625 * var(--modal-width))'
					}"
					[src]="content.backdrop"
					type="backdrop"
					[resolution]="3"
				/>
			</ng-container>

			<div class="footer w-100 column end">
				<div class="row space-between footer-content" *ngIf="curPalette">
					<h1>{{ content.title }}</h1>
					<div class="row button-container">
						<action-button
							[props]="{
								icon: isListed ? 'fas fa-minus' : 'fas fa-plus',
								text: 'My List',
								color: 'muted'
							}"
							[imgSrc]="content.poster"
							[pending]="listPending"
							(clicked)="toggleList()"
						/>
						<action-button
							*ngIf="content.yts_id"
							[props]="playButton"
							[imgSrc]="content.poster"
							[streamMovie]="content"
						/>
					</div>
				</div>
			</div>
		</div>

		<img id="x" src="assets/x.svg" alt="" (click)="modal.close()" />

		<div class="content" *ngIf="content && curPalette">
			<div>
				<div
					class="row center-vertical"
					[style.color]="curPalette.lightVibrant"
				>
					<h4 *ngIf="content.tmdb_id">
						{{ content.imdb_rating | number : "1.1-1" }}
						<i class="fas fa-star"></i>
					</h4>
					<h4>{{ content.release_date | date : "mediumDate" }}</h4>
					<h4>{{ content.mpa_rating }}</h4>
					<h4>{{ content.runtime | runtime }}</h4>
					<!-- <h4>{{ content.language }}</h4> -->
				</div>

				<p>{{ content.summary }}</p>

				<div class="row wrap genres">
					<div
						class="genre"
						*ngFor="let genre of content.genres"
						[ngStyle]="curPalette | genreStyles"
					>
						{{ genre }}
					</div>
				</div>

				<h3 class="row" *ngIf="curPalette && content.yts_id">
					<i
						class="fas fa-download"
						[style.color]="curPalette.lightVibrant"
					></i>
					Downloads
				</h3>
				<div class="row wrap downloads">
					<a *ngFor="let torrent of content.torrents; index as i">
						<action-button
							[imgSrc]="content.poster"
							[props]="{ text: torrent.quality, color: 'lightMuted' }"
							[pending]="downloads[i]"
							(click)="download(torrent.hash, i)"
						/>
					</a>
				</div>
			</div>

			<div>
				<div id="more" class="row end">
					<span class="column">
						<h4 *ngIf="content.imdb_id">IMDB ID:</h4>
						<h4 *ngIf="content.budget">budget:</h4>
						<h4 *ngIf="content.revenue">revenue:</h4>
					</span>
					<span class="column end" [style.color]="curPalette.vibrant">
						<h4 *ngIf="content.imdb_id">{{ content.imdb_id }}</h4>
						<h4 *ngIf="content.budget">${{ content.budget / 1000000 }}M</h4>
						<h4 *ngIf="content.revenue">
							${{ content.revenue / 1000000 | number : "1.0-0" }}M
						</h4>
					</span>
				</div>

				<div *ngIf="content.cast" class="cast row end">
					<span class="column">
						<div *ngFor="let member of content.cast">
							<div class="text">
								<h4 class="name">{{ member.name }}</h4>
								<h4 class="char">{{ member.character_name }}</h4>
							</div>
						</div>
					</span>
					<span class="column">
						<div *ngFor="let member of content.cast">
							<img
								[style.borderColor]="curPalette.darkMuted"
								[src]="member.url_small_image"
								onerror="this.src='assets/no-user.png'"
							/>
						</div>
					</span>
				</div>
			</div>
		</div>

		<div class="recommendations w-100" *ngIf="content">
			<carousel
				[asyncContent]="moviesService.getSimilar(content.tmdb_id)"
				title="Similar"
			></carousel>
			<carousel
				[asyncContent]="moviesService.getRecommended(content.tmdb_id)"
				title="Recommended"
			></carousel>
		</div>
	</div>
</section>
