<span id="backdrop" class="container" (click)="modal.closeModal()"></span>
<section>
	<div id="movieModal" class="mh-100">
		<div class="trailer w-100">
			<ng-container *ngIf="content">
				<yt-player
					*ngIf="content.yt_trailer"
					id="trailer"
					[url]="content.yt_trailer"
				></yt-player>
				<smart-img
					*ngIf="!content.yt_trailer"
					[dims]="{
						width: '100%',
						height: 'calc(0.5625 * var(--modal-width))'
					}"
					[src]="content.backdrop"
					type="backdrop"
					[resolution]="3"
				/>
			</ng-container>

			<div class="footer w-100 column end">
				<div class="row space-between footer-content" *ngIf="curPalette">
					<h1>{{ content.title }}</h1>
					<div class="row button-container">
						<action-button
							*ngIf="content.yts_id"
							[props]="playButton"
							[imgSrc]="content.poster"
							[streamMovie]="content"
						/>
						<button
							id="list-button"
							class="center"
							[ngStyle]="getStyles()"
							[disabled]="listPending"
							(click)="toggleList()"
						>
							<div class="loading" [ngStyle]="borderTop()"></div>
							<div
								class="row center list-container container"
								[ngStyle]="getStyles()"
							>
								<img imgLoad [src]="getListIcon()" />
								<h4 [ngStyle]="{ color: getTextColor(curPalette.vibrant) }">
									My List
								</h4>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>

		<img id="x" src="assets/x.svg" alt="" (click)="modal.closeModal()" />

		<div class="content" *ngIf="content && curPalette">
			<div>
				<div
					class="row center-vertical"
					[style.color]="curPalette.lightVibrant"
				>
					<h4 *ngIf="content.tmdb_id">
						{{ content.imdb_rating | number : "1.1-1" }}
						<i class="fas fa-star"></i>
					</h4>
					<h4>{{ content.release_date | date : "mediumDate" }}</h4>
					<h4>{{ content.mpa_rating }}</h4>
					<h4>{{ content.runtime | runtime }}</h4>
					<!-- <h4>{{ content.language }}</h4> -->
				</div>
				<p>{{ content.summary }}</p>

				<div class="row wrap genres">
					<div
						class="genre"
						*ngFor="let genre of content.genres"
						[ngStyle]="curPalette | genreStyles"
					>
						{{ genre }}
					</div>
				</div>

				<h3 class="row">
					<i
						class="fas fa-download"
						[ngStyle]="{ color: curPalette.lightVibrant }"
					></i>
					Downloads
				</h3>
				<div class="row wrap downloads">
					<a *ngFor="let torrent of content.torrents">
						<button
							class="download"
							[ngStyle]="{
								backgroundColor: curPalette.vibrant,
								color: getTextColor(curPalette.vibrant)
							}"
							(click)="download(torrent.hash)"
						>
							{{ torrent.quality }}
						</button>
					</a>
				</div>
			</div>

			<div>
				<div id="more" class="row end">
					<span class="column">
						<h4>IMDB ID:</h4>
						<h4 *ngIf="modal.movie.budget">budget:</h4>
						<h4 *ngIf="modal.movie.revenue">revenue:</h4>
					</span>
					<span class="column end" [ngStyle]="{ color: curPalette.vibrant }">
						<h4>{{ modal.movie.imdb_id }}</h4>
						<h4 *ngIf="modal.movie.budget">
							${{ modal.movie.budget / 1000000 }}M
						</h4>
						<h4 *ngIf="modal.movie.revenue">
							${{ modal.movie.revenue / 1000000 | number : "1.0-0" }}M
						</h4>
					</span>
				</div>

				<div *ngIf="modal.movie.cast" class="cast row end">
					<!-- <span class="column">
						<div *ngFor="let member of modal.movie.cast">
							<div class="text">
								<h4 class="name">{{ member.name }}</h4>
								<h4 class="char">{{ member.character_name }}</h4>
							</div>
						</div>
					</span> -->
					<!-- <span class="column">
						<div *ngFor="let member of modal.movie.cast">
							<img
								*ngIf="member.url_small_image"
								[ngStyle]="{ 'border-color': curPalette.darkMuted }"
								[src]="member.url_small_image"
								onerror="this.src='assets/no-user.png'"
							/>
						</div>
					</span> -->
				</div>
			</div>
		</div>

		<!-- <div *ngFor="let member of modal.movie.cast">
						<div class="cast-member row" *ngIf="member.url_small_image">
							<img
								[ngStyle]="{ 'border-color': curPalette.darkMuted }"
								[src]="member.url_small_image"
								onerror="this.src='assets/no-user.png'"
							/>
							<div class="left-align">
								<h4 class="name">{{ member.name }}</h4>
								<h4 class="char">{{ member.character_name }}</h4>
							</div>
						</div>
					</div> -->

		<!-- <div class="recommendations w-100">
      <carousel [asyncMovies]="modal.getSimilar()" title="Similar"></carousel>
      <carousel
        [asyncMovies]="modal.getRecommended()"
        title="Recommended"
      ></carousel>
    </div> -->
	</div>
</section>
