button {
	height: 2.75rem;
	border-radius: var(--radius-s);
	padding: 0.25rem 0.75rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px 2px;
	cursor: pointer;
	position: relative;
	color: black;
	background-color: white;
	margin-right: 0.75rem;
	width: 6.75rem;
	transition: filter 0.1s, background-color 0.1s;

	&:active {
		transform: scale(97%);
	}

	&:hover {
		// filter: brightness(0.7);
		filter: brightness(1.2) saturate(1.2);
		transform: scale(102%);
	}

	h4 {
		margin: 0.5rem;
		padding: 0;
		font-size: 1.2rem;
		font-weight: 500;
	}

	i {
		// color: black;
		font-size: 1rem;
		margin: 0.5rem 0 0.5rem 0.5rem;
	}
}
