<form class="column" [formGroup]="loginForm" (ngSubmit)="login()">
	<h2>Login</h2>
	<cust-input
		[control]="username"
		errorMsg="invalid username"
		placeholder="Username"
	></cust-input>
	<cust-input
		[control]="password"
		[errorMsg]="pwError"
		placeholder="Password"
		type="password"
	></cust-input>
	<button
		type="submit"
		id="sign-in"
		[disabled]="!loginForm.valid || pendingLogin"
	>
		Sign In
	</button>
	<span>Other Login Options</span>
	<div class="row center">
		<asl-google-signin-button></asl-google-signin-button>
	</div>
	<span>or Sign Up</span>
	<button
		id="register"
		type="button"
		(click)="router.navigate(['auth/register'])"
	>
		Sign Up
	</button>
</form>
